:host {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 64px;

    .search {
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-family: 'Calistoga', cursive;
            font-size: 3rem ;
        }

        input[type="text"] {
            min-width: 50%;
            font-size: 16px;
            margin-top: 2rem;
            padding: 1rem 2rem;
            border: none;
            border-radius: 10px;
            background: #f3f3f3;
            outline: none;
        }

        p.wip {
            margin-top: 2rem;
        }
    }

    .banner {
        background: oldlace;


        img {
            max-width: 100%;
            max-height: 64vh;
            position: relative;
            left: -10%;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    footer {
        background: #2f2e41;
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            display: inline-block;
            height: 32px;
        }
    }
}
